user root;

events{
    worker_connections 9999;
}

http{

    server{
        listen 80;
        server_name HeavenWorld;

        location / {
            root static;
            index index.html;
        }

        location /hw/ {
            proxy_pass http://localhost:8888;
        }

        location /images/ {
            root static;
            autoindex on;
        }
    }
}